@model BidMVC.Models.Product

@{
    ViewBag.Title = "AddProduct";
    Layout = "../Shared/_LayoutPageCustom.cshtml";
    
//    Session["Email"].ToString();
}

<h2>AddProduct</h2>

@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hello @Session["Email"]</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName)
                @Html.ValidationMessageFor(model => model.ProductName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductCode)
                @Html.ValidationMessageFor(model => model.ProductCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category)
                @Html.ValidationMessageFor(model => model.Category)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Image1)*@
                <input type="file" name="Image1" />
                @Html.ValidationMessageFor(model => model.Image1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Image2)*@
                <input type="file" name="Image2" />
                @Html.ValidationMessageFor(model => model.Image2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Image3)*@
                <input type="file" name="Image3" />
                @Html.ValidationMessageFor(model => model.Image3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Details, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Details)
                @Html.ValidationMessageFor(model => model.Details)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
@*                @Html.EditorFor(model => model.LastDate)*@
                <input type="date" id="LastDate" name="LastDate" />
                @Html.ValidationMessageFor(model => model.LastDate)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.SellerId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SellerId)
                    @Html.ValidationMessageFor(model => model.SellerId)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AddProduct")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
